body {
    font-family: 'League Spartan', sans-serif;
    background-image: linear-gradient(45deg, #519758, #48674B);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/2.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 0.025;
}  */

.navbar {
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.logonavbar {
    display: flex;
    align-items: center;
    width: 300px;
}

.logonavbar img {
    width: 80px;
}

.logonavbar span {
    padding-left: 20px;
    font-size: 35px;
    font-weight: 800;
}

.itens span {
    font-size: 150%;
    color: #fff;
}

.itens {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes {
    display: flex;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 40px;
}

.botao1 button {
    background: none;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    font-weight: 550;
    font-size: 20px;
    border-radius: 60px;
}

.botao2 button {
    background-color: #fff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    font-weight: 550;
    font-size: 20px;
    border-radius: 60px;
}

.botao2 a {
    color: #519758;
    text-decoration: none;
}

.botao1 a {
    color: #fff;
    text-decoration: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.banner img {
    width: 750px;
}

.banner .slogan span {
    font-size: 120px;
    color: #fff;
    font-weight: 800;

}

.banner .mensagem span {
    font-size: 30px;
    color: #fff;
}

.alinhar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.introducao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introducao h1 {
    color: #fff;
    font-size: 70px;
}

.introducao span {
    color: #fff;
    font-size: 25px;
    text-align: center;
    width: 55%;
    font-weight: lighter;
}

.calculadoras {
    display: flex;
    flex-direction: row;
}

.calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 63%;
    padding: 100px;
    border-radius: 20px;
    height: 200px;
}

.calc h1 {
    font-size: 55px;
    color: #519758;
    margin-top: 0%;
}

.calc span {
    font-size: 25px;
    text-align: center;
    width: 100%;
    color: #519758;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    gap: 20px;
    padding: 20px;
}

.imgCalc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.imgCalc img {
    width: 100%;
}

.imgCalc h1 {
    font-size: 35px;
    color: #fff;
}

.descCalc {
    width: 50%;
    font-size: 25px;
    color: #519758;
    display: flex;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
} 

.title {
    width: 80%;
}

.sobre {
    background-color: #fff;
    color: #519758;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
}

.sobre h1 {
    font-size: 60px;
    margin: 0%;
}

.descricaosobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    gap: 5%;
}

.descricaosobre h1 {
    margin-top: 10px;
}

.descricaosobre img {
    width: 300px;
    border-radius: 50%;
    border: solid 4px #519758;
}

.sobre span {
    font-size: 20px;
    width: 600px;
}

.descricaosobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.redes {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.title .redes button {
    border: none;
    background-color: #519758;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 20px;
    width: 120px;
    height: 60%;
    display: flex;
    align-items: center;
}

.title .redes button img {
    width: 30%;
    margin-right: 3%;
    margin-bottom: 3px;
}


.descricaosobremim {
    width: 80%;
    padding-top: 3%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
}

.containerlec {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 2vh;
    width: 70%;
    border-radius: 20px;
    margin-top: 40px;
}

.campos {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #519758;
    margin-left: 60px;
}

.mensagem span {
    font-size: 30px;
    font-weight: 600;
}


.campos img {
    width: 100px;
}

.campos button {
    cursor: pointer;
    border: none;
    background-image: linear-gradient(45deg, #519758, #48674B);
    width: 71%;
    border-radius: 20px;
    height: 50px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
}

.apresentacao {
    background-image: linear-gradient(45deg, #519758, #48674B);
    width: 50%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 700px;
}

.apresentacao .titulo {
    color: #fff;
    font-weight: 600;
    font-size: 100px;
}

.apresentacao span {
    color: #fff;
    font-size: 40px;
}

.apresentacao p {
    color: #fff;
    font-size: 50px;
}

.apresentacao img {
    width: 350px;
}



.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs input {
    border: solid 2px #519758;
    width: 70%;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    color: #48674B;
}

.pergunta {
    display: flex;
    align-self: center;
}

.home {
    cursor: pointer;
    border: none;
    border-radius: 12px;
    width: 65%;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
    color: #519758;
}

.camposcadastro {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #519758;
    margin-left: 60px;
}

.camposcadastro img {
    width: 100px;
}

.camposcadastro button {
    cursor: pointer;
    border: none;
    background-image: linear-gradient(45deg, #519758, #48674B);
    width: 71%;
    border-radius: 20px;
    height: 50px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
}

.botaocadastro {
    border: none;
    background-image: linear-gradient(45deg, #519758, #48674B);
    width: 71%;
    border-radius: 20px;
    height: 50px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
}

#div_calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.calculadorafixa h1 {
    color: #fff;
    font-size: 50px;
}

.calculadorafixa span {
    color: #fff;
    font-size: 25px;
    width: 50%;
    text-align: center;
}

.calculadorafixa .containerlec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    width: 50%;
}

.calculadorafixa .containerlec h1 {
    font-size: 30px;
    color: #519758;
}

.inputsimc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}

.inputsimc span {
    font-size: 20px;
    color: #519758;
}

.inputsimc input {
    border: solid 2px #519758;
    width: 70%;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    color: #48674B;
}

.inputsimc select {
    border: solid 2px #519758;
    width: 70%;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    color: #48674B;
}

.containerlec .home button {
    border: none;
    background-image: #fff;
    width: 71%;
    border-radius: 20px;
    height: 50px;
    color: #519758;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}

#div_resultado {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;
}

.resultadoimc img {
    width: 80%;
}

.resultadoimc h1 {
    color: #fff;
    font-size: 50px;
}

.resultadoimc span {
    color: #fff;
    font-size: 25px;
    width: 70%;
    text-align: center;
}