body {
    font-family: 'League Spartan', sans-serif;
    background-image: linear-gradient(45deg, #519758, #48674B);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/2.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 0.025;
}  */

.navbar {
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.logonavbar {
    display: flex;
    align-items: center;
    width: 300px;
}

.logonavbar img {
    width: 80px;
}

.logonavbar span {
    padding-left: 20px;
    font-size: 35px;
    font-weight: 800;
}

.itens span {
    font-size: 150%;
    color: #fff;
}

.itens {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes {
    display: flex;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 40px;
    }

.botao1 button {
        background: none;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 20px 30px 20px 30px;
        font-weight: 550;
        font-size: 20px;
        border-radius: 60px;
    }
    
    .botao2 button {
        background-color: #fff;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 20px 30px 20px 30px;
        font-weight: 550;
        font-size: 20px;
        border-radius: 60px;
}

.botao2 a {
    color: #519758;
    text-decoration: none;
}

.botao1 a {
    color: #fff;
    text-decoration: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.banner img {
    width: 750px;
}

.banner .slogan span {
    font-size: 120px;
    color: #fff;
    font-weight: 800;
    
}

.banner .mensagem span {
    font-size: 30px;
    color: #fff;
}

.alinhar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.introducao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introducao h1 {
    color: #fff;
    font-size: 70px;
}

.introducao span {
    color: #fff;
    font-size: 30px;
    text-align: center;
    width: 55%;
    font-weight:lighter;
}

.calculadoras {
    display: flex;
    flex-direction: row;
}

.calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 95%;
    padding: 50px;
    height: 350px;
}

.calc h1 {
    font-size: 55px;
    color: #48674B;
}

.calc span {
    font-size: 30px;
    text-align: center;
    width: 60%;
    color: #48674B;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    border-radius: 8px;
}

.calculadora .desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.calculadora .imgText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.calculadora img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding-bottom: 20px;
    border-radius: 8px;
}


.calculadora span {
    color: #fff;
    font-size: 50px;
    font-weight: 800;
}

.calculadora p {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    color: #519758;
    width: 100%;
    max-width: 300px;
    min-height: 300px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.sobre {
    background-color: #fff;
    color: #519758;
    width: 82%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
}

.sobre h1 {
    font-size: 80px;
}

.sobre img {
    width: 400px;
    padding-right: 40px;
}

.sobre span {
    font-size: 30px;
    width: 800px;
}

.descricaosobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.redes {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.redes button {
    border: none;
    background-color: #519758;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 20px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes button img {
    width: 50px;
    padding: 0;
    margin-bottom: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
}

.containerlec {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 2vh;
    width: 70%;
    border-radius: 20px;
    margin-top: 40px;
}

.campos {
    display: flex;
    flex-direction: column;
    width: 50%;
    color:#519758;
    margin-left: 60px;
}

.mensagem span {
    font-size: 30px;
    font-weight: 600;
}


.campos img {
    width: 100px;
}

.campos button {
    border: none;
    background-image: linear-gradient(45deg, #519758, #48674B);
    width: 71%;
    border-radius: 20px;
    height: 50px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
}

.apresentacao {
    background-image: linear-gradient(45deg, #519758, #48674B);
    width: 50%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 700px;
}

.apresentacao .titulo {
    color: #fff;
    font-weight: 600;
    font-size: 100px;
}

.apresentacao span {
    color: #fff;
    font-size: 40px;
}

.apresentacao p {
    color: #fff;
    font-size: 50px;
}

.apresentacao img {
    width: 350px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs input {
    border: solid 2px #519758;
    width: 70%;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    color:#48674B;
}

.pergunta {
    display: flex;
    align-self: center;
}

.home {
    border: none;
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    color: #519758;
}

.camposcadastro {
    display: flex;
    flex-direction: column;
    width: 50%;
    color:#519758;
    margin-left: 60px;
}
.camposcadastro img {
    width: 100px;
}

.camposcadastro button {
    border: none;
    background-image: linear-gradient(45deg, #519758, #48674B);
    width: 71%;
    border-radius: 20px;
    height: 50px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
}

#div_calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.calculadorafixa h1 {
    color: #fff;
    font-size: 50px;
}

.calculadorafixa span {
    color: #fff;
    font-size: 25px;
    width: 50%;
    text-align: center;
}

.calculadorafixa .containerlec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    width: 50%;
}

.calculadorafixa .containerlec h1 {
    font-size: 30px;
    color: #519758;
}

.inputsimc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}

.inputsimc span {
    font-size: 20px;
    color: #519758;
}

.inputsimc input {
    border: solid 2px #519758;
    width: 70%;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    color:#48674B;
}

.inputsimc select {
    border: solid 2px #519758;
    width: 70%;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    color:#48674B;
}

.containerlec button {
    border: none;
    background-image: linear-gradient(45deg, #519758, #48674B);
    width: 50%;
    border-radius: 20px;
    height: 50px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}

#div_resultado {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;
}

.resultadoimc img {
    width: 80%;
}

.resultadoimc h1 {
    color: #fff;
    font-size: 50px;
}

.resultadoimc span {
    color: #fff;
    font-size: 25px;
    width: 70%;
    text-align: center;
}