body {
    font-family: 'League Spartan', sans-serif;
    background-image: linear-gradient(45deg, #519758, #48674B);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/2.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 0.025;
}  */

.navbar {
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.logonavbar {
    display: flex;
    align-items: center;
    width: 300px;
}

.logonavbar img {
    width: 80px;
}

.logonavbar span {
    padding-left: 20px;
    font-size: 35px;
    font-weight: 800;
}

.itens span {
    font-size: 150%;
    color: #fff;
}

.itens {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes {
    display: flex;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 40px;
}

.botao1 button {
    background: none;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    font-weight: 550;
    font-size: 20px;
    border-radius: 60px;
}

.botao2 button {
    background-color: #fff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    font-weight: 550;
    font-size: 20px;
    border-radius: 60px;
}

.botao2 a {
    color: #519758;
    text-decoration: none;
}

.botao1 a {
    color: #fff;
    text-decoration: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.banner img {
    width: 750px;
}

.banner .slogan span {
    font-size: 120px;
    color: #fff;
    font-weight: 800;

}

.banner .mensagem span {
    font-size: 30px;
    color: #fff;
}

.alinhar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.introducao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introducao h1 {
    color: #fff;
    font-size: 70px;
}

.introducao span {
    color: #fff;
    font-size: 25px;
    text-align: center;
    width: 55%;
    font-weight: lighter;
}

.calculadoras {
    display: flex;
    flex-direction: row;
}

.calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 63%;
    padding: 100px;
    border-radius: 20px;
    height: 200px;
}

.calc h1 {
    font-size: 55px;
    color: #519758;
    margin-top: 0%;
}

.calc span {
    font-size: 25px;
    text-align: center;
    width: 100%;
    color: #519758;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    gap: 20px;
    padding: 20px;
}

.imgCalc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.imgCalc img {
    width: 100%;
}

.imgCalc h1 {
    font-size: 35px;
    color: #fff;
}

.descCalc {
    width: 50%;
    font-size: 25px;
    color: #519758;
    display: flex;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
}

.title {
    width: 80%;
}

.sobre {
    background-color: #fff;
    color: #519758;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
}

.sobre h1 {
    font-size: 60px;
    margin: 0%;
}

.descricaosobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    gap: 5%;
}

.descricaosobre h1 {
    margin-top: 10px;
}

.descricaosobre img {
    width: 300px;
    border-radius: 50%;
    border: solid 4px #519758;
}

.sobre span {
    font-size: 20px;
    width: 600px;
}

.descricaosobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.redes {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.title .redes button {
    border: none;
    background-color: #519758;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 20px;
    width: 120px;
    height: 60%;
    display: flex;
    align-items: center;
}

.title .redes button img {
    width: 30%;
    margin-right: 3%;
    margin-bottom: 3px;
}


.descricaosobremim {
    width: 80%;
    padding-top: 3%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.containerlec {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 2vh;
    width: 70%;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.campos {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #519758;
    margin-left: 60px;
}

.mensagem span {
    font-size: 30px;
    font-weight: 600;
}


.campos img {
    width: 100px;
}

.campos button {
    cursor: pointer;
    border: none;
    background-image: linear-gradient(45deg, #519758, #48674B);
    width: 71%;
    border-radius: 20px;
    height: 50px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
}

.apresentacao {
    background-image: linear-gradient(45deg, #519758, #48674B);
    width: 50%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 90vh;
}

html {
    scroll-behavior: smooth;
}


.apresentacao .titulo {
    color: #fff;
    font-weight: 600;
    font-size: 100px;
}

.apresentacao span {
    color: #fff;
    font-size: 40px;
}

.apresentacao p {
    color: #fff;
    font-size: 50px;
}

.apresentacao img {
    width: 350px;
}



.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs input {
    border: solid 2px #519758;
    width: 70%;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    color: #48674B;
}

.pergunta {
    display: flex;
    align-self: center;
}

.home {
    cursor: pointer;
    border: none;
    border-radius: 12px;
    width: 65%;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
    color: #519758;
}

.camposcadastro {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #519758;
    margin-left: 60px;
}

.camposcadastro img {
    width: 100px;
}

.camposcadastro button {
    cursor: pointer;
    border: none;
    background-image: linear-gradient(45deg, #519758, #48674B);
    width: 71%;
    border-radius: 20px;
    height: 50px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
}

.botaocadastro {
    border: none;
    background-image: linear-gradient(45deg, #519758, #48674B);
    width: 71%;
    border-radius: 20px;
    height: 50px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
}

#div_calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.calculadorafixa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculadorafixa h1 {
    color: #fff;
    font-size: 50px;
}

.calculadorafixa span {
    color: #fff;
    font-size: 25px;
    width: 50%;
    text-align: center;
}

.calculadorafixa .containerlec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    width: 50%;
}

#div_resultado .containerlec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    width: 50%;
    gap: 10px;
}

#div_resultado .containerlec h1 {
    font-size: 30px;
    color: #519758;
}

.calculadorafixa .containerlec h1 {
    font-size: 30px;
    color: #519758;
}

.containerlec .botaocalc {
    border: none;
    background-color: #519758;
    width: 50%;
    border-radius: 20px;
    height: 50px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}

#div_resultado button {
    border: none;
    background-image: #fff;
    width: 10%;
    border-radius: 20px;
    height: 50px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.erro-msg {
    display: none; /* Inicialmente, as mensagens de erro ficam ocultas */
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

#div_resultado a {
    color: #519758;
    text-decoration: none;
}

.inputsimc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}

.inputsimc span {
    font-size: 20px;
    color: #519758;
}

#div_resultado .containerlec .inputsimc span {
    font-size: 20px;
    color: #519758;
}

#div_resultado .containerlec button {
    font-size: 20px;
    color: #fff;
    background-color: #519758;
    width: 50%;
}

#div_resultadoget {
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;
    color: #fff;
}

.resultadoget span {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.resultadoget h1 {
    font-size: 50px;
    margin-top: 50px;
}

.inputsimc input {
    border: solid 2px #519758;
    width: 70%;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    color: #48674B;
}

.inputsimc select {
    border: solid 2px #519758;
    width: 70%;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    color: #48674B;
}

.containerlec .home button {
    border: none;
    background-image: #fff;
    width: 71%;
    border-radius: 20px;
    height: 50px;
    color: #519758;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}

#div_resultado {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;
}

.graficopeso {
    width: 50vw;
    height: 60vh;
    margin-top: 30px;
}

.resultadoimc img {
    width: 80%;
}

.resultadoimc h1 {
    color: #fff;
    font-size: 50px;
}

.resultadoimc span {
    color: #fff;
    font-size: 25px;
    width: 70%;
    text-align: center;
}

.alerta_erro {
    display: flex;
    justify-content: center;
    align-items: center;

}

.card_erro {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #519758;
    position: fixed;
    border-radius: 20px;
    border: #519758 3px solid;
    padding: 20px;
    box-shadow: 0px 0px 2000px 2000px rgba(0, 0, 0, 0.5);
}

.card_erro img {
    width: 100px;
}

.card_erro #mensagem_erro {
    font-weight: 800;
    font-size: 20px;
}

.loading-div {
    width: 50px;
    display: none;
    margin-left: 33%;
    margin-top: 10px;
  }
  
  .loading-div img {
    height: 30px;
    width: 30px;
  }

  #div_camposperfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 70%;
  }

  .containerperfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    width: 60%;
    gap: 10px;
    padding: 20px;
    margin-top: 30px;
  }

  .containerperfil h1 {
    color: #519758;
    margin-bottom: 8px;
  }

  .containerperfil img{
    width: 25%;
    border-radius: 50%;
    border: solid 4px #519758;
    margin-top: 10px;
  }

  .botoesperfil {
    display: flex;
    width: 200px;
    justify-content: center;
    border: none;
    background-color: #519758;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
  }

  .botoesperfil2 {
    display: flex;
    width: 200px;
    justify-content: center;
    border: solid 3px #519758;
    background-color: #fff;
    color: #519758;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
  }

  .alinharbotoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
  }

  .dadosperfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #519758;
  }

  .dadosperfil span {
    margin-bottom: 5px;
  }

  .inputsalteracao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    color: #519758;
    font-weight: 600;
  }

  #div_camposperfil .inputsalteracao input {
    border: solid 2px #519758;
    width: 55%;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    color: #48674B;
  }

  #div_camposevolucao {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #div_dados {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
  }
  #div_camposevolucao img {
    width: 15%;
  }

  #div_camposevolucao .miniperfil span {
    color: #519758;
    font-weight: 600;
    font-size: 30px;
  }

  .pesos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    font-size: 25px;
    color: #519758;
    font-weight: 600;
  }

  .camposinserir {
    width: 100%;
  }

  .pesos input {
    border: solid 2px #519758;
    width: 20%;
    border-radius: 20px;
    height: 35px;
    text-align: center;
    color: #48674B;
  }

  .pesos button {
    display: flex;
    width: 200px;
    justify-content: center;
    border: none;
    background-color: #519758;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
  }
